/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@import url('http://fonts.cdnfonts.com/css/gilroy-bold?styles=20876,20877,20878,20879,20880');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
html{
  overflow-x: hidden;
}
body{
  font-family: 'Gilroy-Regular', sans-serif;
  color: #212730;
  background-color: #fff;
  font-size: 20px;
  font-weight: 400;
  overflow-x: hidden;
}
/* @font-face {
  src: url('fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
  src: url('fonts/gilroy/Gilroy-Light.ttf') format('truetype');
  font-family: Gilroy;
  font-family: 'Gilroy-Bold', sans-serif;
  font-family: 'Gilroy-Heavy', sans-serif;
  font-family: 'Gilroy-Light', sans-serif;
  font-family: 'Gilroy-Medium', sans-serif;
  font-family: 'Gilroy-Regular', sans-serif;

} */
.container{
  max-width: 1176px;
}
img{
  max-width: 100%;
}
h1,h2,h3,h4,h5,h6,a{
  font-family: 'Gilroy-Medium', sans-serif;
}
h2{
  font-size: 48px;
  font-weight: 600;
  line-height: 1.5;
}
a{
  text-decoration: none;
}
a:hover{
  color: #3fba96;
}
p{
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
  margin: 25px 0;
}
section{
  padding: 50px 0;
}
button{
  padding: 12px 46px;
  border: 1px solid #3fba96;
  border-radius: 5px;
  background: #3fba96;
  color: #fff;
  font-size: 18px;
  transition: .5s linear;
  line-height: 18px;
}
button:hover{
  color: #3fba96;
  background: #fff;
  border: 1px solid #3fba96;
}
#works h2, #courses h2{
  text-align: center;
}
#works .title-des, #courses .title-des{
  text-align: center;
  padding: 0px 30%;
  margin-bottom: 50px;
}
input[type='search']{
  border: 1px solid #3fba96;
  outline: 0;
  border-radius: 5px 0 0 5px;
  height: 54px;
  padding-left: 45px;
  width: 100%;
}
/* box icon */
.bx-search {
  position: absolute;
  left: 12px;
  top: 18px;
  font-size: 22px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header{
}
nav ul{
  margin: 0;
  padding: 0;
}
nav ul li{
  list-style: none;
  margin: 0 10px;
}
nav ul li a{
  text-decoration: none;
  font-family: 'Gilroy-Light', sans-serif;
  padding: 10px 20px;
  color: #333;
  font-size: 18px;
  font-weight: 400;
}
nav .login{
  display: none;
}
/* .menu-icon i{
  font-size: 28px;
  line-height: 1.2;
  border: 1px solid #3fba96;
  border-radius: 5px;
  padding: 5px 8px;
  display: none;
} */
#header nav .mobile-login{
  display: none;
}
.mobile-nav-btn{
  line-height: 12px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #3fba96;
  border-radius: 5px;
  padding: 5px 8px;
  display: none;
}
.mobile-nav-icon{
  width: 2rem;
  height: 2rem;
}
.mobile-nav-icon[name="close-outline"]{
  display: none;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero{
  padding: 100px 0 50px 0 !important;
}
#hero h3{
  font-size: 22px;
  color: #3fba96;
  margin-bottom: 10px;
}
#hero h1{
  font-size: 60px;
  font-family: 'Gilroy-bold', sans-serif;
  line-height: 1.2;
  padding-right: 50px;
  font-weight: 600;
}
#hero p{
}
#hero .search{
  position: relative;
  width: 100%;
}
#hero button{
  border-radius: 0px 5px 5px 0 !important;
}
#hero button:hover{
  background: #3fba96;
  color: #fff;
}
/*--------------------------------------------------------------
# Student Section
--------------------------------------------------------------*/
#student h2{
  padding-right: 50px;
}
#student img{
  padding-right: 50px;
}
/*--------------------------------------------------------------
# Works section
--------------------------------------------------------------*/
#works .box{
  padding: 20px 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  /* box-shadow: 37px 47px 80px 20px rgb(115 137 149 / 52%); */
  box-shadow: 6px 12px 30px 0px rgb(115 137 149 / 52%);
}
#works .box:nth-child(2){
  /* box-shadow: none; */
}
#works .box:nth-child(3){
  /* box-shadow: none; */
}
#works .box img{
  max-width: 100%;
  width: 40px;
  height: 50%;
}
#works .box .box-content{
  margin-left: 20px;
}
#works .box .box-content h4{
  font-size: 28px;
  line-height: 40px;
  font-weight: 600;
}
/*--------------------------------------------------------------
# Course Section
--------------------------------------------------------------*/
#courses{

}
.course-box{
  padding: 20px 15px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}
.course-box img{
  max-width: 100%;
  margin-bottom: 2rem;
}
.course-box h4{
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 2rem;
}
.course-box .review img{
  width: 100px;
  margin: 0;
}
.course-box .price span{
  color: #0a908a;
  font-size: 16px;
  font-weight: 500;
}
.course-box .enroll{
  margin-top: 15px;
}
.course-box .enroll img{
  width: 18px;
  margin-bottom: 0;
  margin-right: 10px;
}
.course-box .enroll span{
  font-size: 13px;
}
/* owl carousel */
.owl-carousel{
  position: relative;
}
button.owl-prev{
  position: absolute;
  top: 40%;
  left: -50px;
}
button.owl-next{
  position: absolute;
  top: 40%;
  right: -50px;
}
.owl-prev span,
.owl-next span{
  background: #fff;
    width: 50px;
    font-size: 30px;
    display: block;
    height: 50px;
    font-weight: 700;
    color: #3fba96;
    line-height: 1.6;
    border-radius: 50%;
    box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 19%);
}
/*--------------------------------------------------------------
# Query Section
--------------------------------------------------------------*/
#query{
  position: relative;
}
#query h2{
  font-size: 36px;
  font-weight: 600
}
#query button{
  border-radius: 0px 5px 5px 0 !important;
}
#query button:hover{
  background: #3fba96;
  color: #fff;
}
#query .search-box{
  position: relative;
}
#query .search{
  position: relative;
  width: 100%;
}
#query .circle{
  max-width: 200px;
  position: absolute;
  content: '';
  right: 0;
  top: 0;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer{
  background: #212832;
  padding: 50px 0 20px 0;
  color: #fff;
  font-size: 16px;
}
#footer p{
  font-size: 16px;
}
#footer .social-link img {
  width: 25px;
}
#footer .social-link li{
  margin-right: 20px;
}
#footer .social-link li:last-child{
  margin-right: 0;
}
#footer h5 {
  font-size: 20px;
  margin-bottom: 20px;
}
#footer .footer-copyright{
  padding-top: 50px;
}
#footer .footer-copyright p{
  color: #b8b8b8;
}
#footer ul{
  margin: 0;
  padding: 0;
}
#footer ul li{
  margin: 10px 0;
}
#footer ul li a{
  color: #b8b8b8;
  display: block;
}
#footer ul li a:hover{
  color: #777e90;
}
